body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  width: 300px;
  padding: 20px;
  margin: 0 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.icon-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.icon-temp img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.temperature {
  font-size: 18px;
  color: #666;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  color: #666;
}
